<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="front-app">
  <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        color: blue;
      }
    </style>
    <h2>Hello {{prop1}}!</h2>
    <input type="text" value="{{prop1}}" />
    <table class="table table-striped">
      <thead>
        <th>País</th>
        <th>resultado</th>
        <th>País</th>
      </thead>
      <tbody>
        <tr>
          <td>Rusia</td>
          <td>5-0</td>
          <td>Arabia Saudí</td>
        </tr>
        <tr>
          <td>Portugal</td>
          <td>0-10</td>
          <td>España</td>
        </tr>
        <tr>
          <td>Colombia</td>
          <td>5-1</td>
          <td>Japón</td>
        </tr>
        <tr>
          <td>Mordor</td>
          <td>3-2</td>
          <td>Narnia</td>
        </tr>
        <tr>
          <td>China</td>
          <td>3-1</td>
          <td>Corea del Sur</td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontApp extends Polymer.Element {
      static get is() { return 'front-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Angel'
          }
        };
      }
    }

    window.customElements.define(FrontApp.is, FrontApp);
  </script>
</dom-module>
